<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pitstop.com.br.pitstop">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="pitstop.com.br.pitstop.Application"
        android:allowBackup="true"
        android:icon="@mipmap/laucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/laucher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.cadastro.CadastroProdutoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.cadastro.CadastroLojaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.NavigationViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.cadastro.CadastroEntradaProdutoActivity" />
        <activity
            android:name=".activity.cadastro.CadastrarVendasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.cadastro.CadastroMovimentacaoProdutoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.relatorio.RelatorioVendasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.relatorio.RelatorioEntradaProdutoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.relatorio.RelatorioMovimentacaoProdutoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.cadastro.CadastroAvariaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.NavigationViewFuncionarioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.relatorio.RelatorioAvariaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.cadastro.CadastroFuroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.relatorio.RelatorioFuroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.relatorio.RelatorioGeralActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.Dashboard" />


    </application>

</manifest>